@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom style to improve QR scanner appearance */
#qr-reader video {
  transform: scaleX(-1); /* Mirror the camera feed for a more natural feel */
}
#qr-reader__scan_region > .qr-region-container {
    display: none !important;
}
#qr-reader__scan_region {
    border: 4px solid white !important;
    border-radius: 16px;
    box-shadow: 0 0 0 4000px rgba(0, 0, 0, 0.5);
}
