@tailwind base;
@tailwind components;
@tailwind utilities;

#qr-reader {
    position: relative;
    overflow: hidden;
    border-radius: 0.5rem;
}

#qr-reader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 0 400px rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#qr-reader::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px; /* Should match qrbox width */
    height: 250px; /* Should match qrbox height */
    transform: translate(-50%, -50%);
    border: 4px solid white;
    border-radius: 8px;
    box-shadow: 0 0 0 400px rgba(0, 0, 0, 0.5);
    z-index: 10;
}
